<div data-dojo-attach-point="fullContentNode">
    <div data-dojo-attach-point="_containerNode" data-dojo-type="dijit/layout/BorderContainer"
         data-dojo-props="gutters: false, design: 'headline'">
        <div data-dojo-attach-point="header" data-dojo-type="dijit/layout/ContentPane"
             data-dojo-props="region: 'top'" class="dn_enhancedselectionHeader">
            <div class="spatialRow">
                <span>${ui.storeSelector}</span>
                <select data-dojo-attach-point="storeSelect" data-dojo-type="dijit/form/Select"></select>
            </div>
            <div class="spatialRow">
                <span class="spatialRelDesc">${ui.selectSpatialRel}</span>
                <select class="spatialRelationSelect" data-dojo-props="disabled:false"
                        data-dojo-attach-point="spatialRelation"
                        data-dojo-type="dijit/form/Select">
                    <option value="contains">${ui.relWithin}</option>
                    <option value="intersects">${ui.relTouches}</option>
                </select>
            </div>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane"
             data-dojo-props="region: 'center'">
            <div data-dojo-type="dijit/layout/AccordionContainer" data-dojo-attach-point="contentNode"></div>
        </div>
        <div data-dojo-attach-point="header" data-dojo-type="dijit/layout/ContentPane"
             data-dojo-props="region: 'bottom'">
            <div class="controlButtonGroup" data-dojo-attach-point="controlButtonGroup">
                <button type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:onReset"
                        data-dojo-attach-point="resetButton">${ui.resetButton}
                </button>
                <button type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:onSearch"
                        data-dojo-attach-point="searchButton" data-dojo-props="disabled:true"
                        data-dojo-props="disabled:true">
                    ${ui.searchButton}
                </button>
            </div>
        </div>
    </div>
</div>