<div>
    <div data-dojo-attach-point="pane" data-dojo-type="dijit/layout/ContentPane" class="geometryProvider">
        <div class="desc">${i18n.ui.selectionTools.distance.desc}</div>
        <div data-dojo-attach-point="distanceToolTip"></div>
        <div data-dojo-type="dijit/form/Button" class="startButton input-success"
             data-dojo-attach-event="onClick:onReset" data-dojo-props="iconClass:'icon-selection-circle'">
            ${i18n.ui.selectionTools.distance.button}
        </div>
    </div>
</div>
