<div>
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="searchSelectionPane" class="geometryProvider">
        <div class="desc">${i18n.ui.selectionTools.searchSelection.desc}</div>
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'"
             data-dojo-attach-point="_centerContentPane">
        </div>
        <div data-dojo-type="dijit/form/Button" class="startButton input-success"
             data-dojo-attach-event="onClick:onDone" data-dojo-props="iconClass:'icon-selection-extent'">
            ${i18n.ui.selectionTools.searchSelection.button}
        </div>
    </div>
</div>
